*.obj
*.exe
*.zip
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.orig
*.cache
*.ilk
*.log
*.pubxml

[Bb]in
[Dd]ebug*/
[Pp]ublishProfiles/
[Ff]akesAssemblies/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/

# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
packages/

# Others
sql
TestResults
*.Cache
ClientBin
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
Generated_Code #added for RIA/Silverlight projects

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
[Bb]ackup/
UpgradeLog*.XML

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
[Pp]ublishProfiles/

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store app package directory
AppPackages/
Fakes*/
TempPE/

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

# GoodSync
_gsdata_/    

# VS Code
.vscode/
